.page {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/background-image-space.jpg');
  background-size: contain;
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
