.page {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/background-image-space.jpg');
  background-size: contain;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 1024px) {
  .page {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    font-size: 14px;
  }
}
