.popup__window {
  padding: 20px;
  border-radius: 12px;
  background-color: aliceblue;
  width: 40vw;
  min-height: 40vh;
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

@media screen and (max-width: 430px) {
  .popup__window {
    width: 310px;
  }
}
