.popup__content {
  padding: 20px;
  border-radius: 12px;
  background-color: aliceblue;
  width: 40vw;
  min-height: 40vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
